.loginBody {
  position: relative;
  z-index: 1;
  background-color: red;
}
.loginOverLay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(226, 192, 192, 0.7);
}
.loginStyle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  z-index: 1000;
}
.login {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.unOrderedList {
  display: flex;
  list-style: none;
  gap: 2rem;
}
